version: '2'
services:
  neo4j:
    build:
        context: .
        dockerfile: Dockerfile.neo4j
    container_name: birdspider_neo
    network_mode: "bridge"
    ports:
     - "7474:7474"
     - "7473:7473"
     - "7687:7687"
    environment:
     - NEO4J_dbms_memory_pagecache_size=${NEO_RAM}
     - NEO4J_AUTH=${NEO_USER}/${NEO_PW}
     - NEO4J_dbms.security.procedures.unrestricted=algo.*
     - NEO4J_dbms_security_procedures_unrestricted=apoc.*
     - NEO4J_apoc_import_file_enabled=true
     - NEO4J_dbms_shell_enabled=true
    volumes:
     - neo_data:/data
     - neo4j/conf:/conf
     - neo4j/plugins:/plugins
  solr:
    container_name: birdspider_solr
    image: solr:alpine
    ports:
     - "8983:8983"
    volumes:
      - solr_data:/opt/solr/server/solr/mycores
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - birdspider
  redis:
    container_name: birdspider_redis
    image: redis
    volumes:
      - redis_data:/data
  rabbitmq:
    container_name: birdspider_mq
    image: rabbitmq:alpine
  birdspider:
    build: .
    depends_on:
      - neo4j
      - solr
      - redis
      - rabbitmq
    environment:
      - CONSUMER_KEY=${CONSUMER_KEY}
      - CONSUMER_SECRET=${CONSUMER_SECRET}
      - OAUTH_TOKEN=${OAUTH_TOKEN}
      - OAUTH_TOKEN_SECRET=${OAUTH_TOKEN_SECRET}
      - ACCESS_TOKEN=${ACCESS_TOKEN}
      - NEO_USER=${NEO_USER}
      - NEO_PW=${NEO_PW}    
volumes:
  neo_data:
  solr_data:
  redis_data:
  neo4j_plugins:
  
